@font-face {
  font-family: "Norse";
  src: url(../odin-recipes/resources/Norse.otf);
}

body {
  background-color: blanchedalmond;
}

.header {
  text-align: center;
  font-size: 72pt;
  font-weight: bold;
  font-family: "Norse";
}

a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 18pt;
  color: #e58000;
  text-transform: uppercase;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: #525252;
  text-align: justify;
  hyphens: none;
  padding-left: 25px;
  padding-right: 25px;
}

img {
  margin: 10px;
}

.container {
  text-align: center;
  max-width: 960px;
  margin: 50px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.content {
  background-color: #8f8f8f36;
  border-radius: 10px;
  padding: 10px;
}
